body {
font-family: 'Roboto', sans-serif;
background: #fff;
color: #434455;
line-height: 150%;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header-logo-accent {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo {
color: #2e2f42;
}

.header-nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}

.header-contacts-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

.solutions {
    background-color: #2e2f42;
}

.solutions-header {
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.solutions-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}

.solutions-button:hover,
.solutions-button:focus {
    background: #404bbf;
}