ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
line-height: 150%;
}

.header-logo-accent {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo {
color: #2e2f42;
}

.header-nav-link {
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-cont-link:hover,
.header-cont-link:focus {
    color: #404bbf;
}

.header-cont-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

.solution {
    background-color: #2e2f42;
}

.solution-header {
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.solution-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.solution-button:hover,
.solution-button:focus {
    background: #404bbf;
}

.feature-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #2e2f42;
}

.feature-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.team {
    background: #f4f4fd;
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.footer {
    background: #2e2f42;
}

.footer-logo-accent {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-text {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}